.features {
	display: flex;
	@include flex(column);
	margin-top: 75px;
	&__title {
		color: map-get($neutral-colors, veryDarkBlue);
	}
	&__describe {
		width: 50%;
		margin: 20px 0;
		text-align: center;
		color: map-get($neutral-colors, grayishBlue);
	}
	&__status {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5px;
		background-color: map-get($neutral-colors, hoverLinks);
		.status__progress {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: red;
		}
	}
	&__list {
		position: relative;
		display: flex;
		@include flex(_, _, space-around);
		width: 70%;
		margin-top: 30px;
		list-style-type: none;
		.list__item {
			padding: 10px 0 40px;
			.item__link {
				text-decoration: none;
				color: map-get($neutral-colors, grayishBlue);
				transition: 0.1s;
				&:hover {
					color: map-get($neutral-colors, veryDarkBlue);
				}
			}
		}
	}
}
.activeLink {
	background-color: map-get($primary-colors, softRed);
}
