.features {
	display: flex;
	@include flex(column);
	margin-top: 75px;
	&__title {
		color: map-get($neutral-colors, veryDarkBlue);
	}
	&__describe {
		width: 50%;
		margin: 20px 0;
		text-align: center;
		color: map-get($neutral-colors, grayishBlue);
		@include mq(700px) {
			width: 80%;
			font-size: 0.9rem;
			line-height: 150%;
		}
	}
	&__status {
		@include WH(100%, 5px);
		position: absolute;
		bottom: 0;
		background-color: map-get($neutral-colors, hoverLinks);
		.status__progress {
			@include positioning(absolute, 0, 0);
			height: 100%;
			background-color: map-get($primary-colors, softRed);
		}
	}
	&__list {
		position: relative;
		display: flex;
		@include flex(_, _, space-around);
		width: 70%;
		margin-top: 30px;
		list-style-type: none;
		@include mq(700px) {
			flex-direction: column;
			align-items: center;
		}
		.list__item {
			padding: 10px 0 40px;
			@include mq(700px) {
				border-top: 1px solid map-get($neutral-colors, borderFaq);
			}
			.item__link {
				text-decoration: none;
				color: map-get($neutral-colors, grayishBlue);
				transition: 0.1s;
				&:hover {
					color: map-get($neutral-colors, veryDarkBlue);
				}
			}
		}
	}
}
.activeLink {
	background-color: map-get($primary-colors, softRed);
}
