.nav {
	height: 100%;
	min-width: 40%;
	@include mq(700px) {
		display: none;
	}
	&__list {
		display: flex;
		@include flex(_, center, space-around);
		list-style-type: none;
		height: inherit;
		@include mq(700px) {
			flex-direction: column;
		}
		.list__item {
			padding: 10px 25px;
			&:nth-last-child(1) {
				.item__link {
					color: map-get($neutral-colors, loginLink);
				}
			}
			.item__link {
				font-size: 0.8rem;
				text-transform: uppercase;
				text-decoration: none;
				color: map-get($neutral-colors, grayishBlue);
				@include mq(700px) {
					color: map-get($neutral-colors, extensionCard);
				}
			}
		}
	}
}
.primary {
	background-color: map-get($primary-colors, softRed);
	border-radius: 5px;
	letter-spacing: 1px;
}
.drop {
	@include positioning(absolute, 100px, 0);
	@include WH(100%, 40vh);
	display: flex;
	@include flex();
	z-index: 1;
	background-color: map-get($neutral-colors, veryDarkBlue);
}
