.newsletter {
	display: flex;
	@include flex(column, center, space-around);
	margin-top: 100px;
	height: 30vh;
	background-color: map-get($primary-colors, softBlue);
	color: map-get($neutral-colors, extensionCard);
	@include mq(700px) {
		text-align: center;
	}
	@include mq(700px) {
		height: 40vh;
	}
	&__people {
		text-transform: uppercase;
		letter-spacing: 5px;
		@include mq(700px) {
			margin-top: 20px;
		}
	}
	&__email {
		@include WH(30%, 5vh);
		display: flex;
		@include mq(700px) {
			flex-direction: column;
			@include WH(80%, 15vh);
		}
	}
	&__input {
		@include WH(60%, 100%);
		text-align: center;
		@include mq(700px) {
			width: 100%;
			border-radius: 5px;
			border: none;
		}
	}
	&__btn {
		@include buttons();
		color: map-get($neutral-colors, loginLink);
		@include mq(700px) {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
		}
	}
}
